/* Carousel Container */
.carousel-container {
    
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;

    h4 {
      text-align: center;
      background-color: rgba(88, 159, 170, 0.8);
      border-radius: 8px; 
      padding: 16px;
      text-decoration: underline;
    }
  }
  
  /* Carousel */
  .carousel {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  /* Product Item */
  .carousel .ProductItemContainer {
    min-width: 200px;
    margin-right: 16px;
    flex: 0 0 auto; 
    background-color: rgba(88, 159, 170, 0.8);
    border-radius: 8px; 
    padding: 16px; 

    img {
      width: 200px;
      height: 200px;
    }
  }
  
  /* Hide scrollbar */
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  /* Optional: Navigation Buttons */
  .carousel-container .nav-button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-container .prev-button {
    left: 10px;
  }
  
  .carousel-container .next-button {
    right: 10px;
  }